body{
    font-family: "Montserrat";
}

/* Title */

#title {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: #fff;
}

.container-fluid {
  padding: 3% 15% 8%;
}

.title-head {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
}

.title-class {
    text-align: center;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Comfortaa";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-size: 100;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Heading section */

#heading {
    text-align: center;
    margin: 5% 15% 0;
}

.heading-head {
    color: #1fc8db;
    font-size: 3rem;
    font-weight: 600;
}

.heading-text {
    font-size: 1.8rem;
    color: #bbbbbb;
    font-weight: 300;
}

/* Service section */

#services {
    padding: 100px;
    background-color: #fff;
}

.services-head {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #1fc8db;
}

.services-icon {
    font-size: 30px;
    margin-right: 30px; 
}

.services-column {
    margin: 50px 0 10px;
}

.card-header {
    background-color: #1fc8db;
    text-align: center;
    color: #fff;
    font-weight: bold;
} 

.card-body {
    color: #808080;
}

/* call to action */

#cta {
    padding: 100px 100px 50px;
    background-color: #1fc8db;
}

.cta-head {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;ter;
    color: #fff;
}

.cta-div {
    text-align: center;
    margin-bottom: 50px;
}

.cta-sections {
    text-align: center;
    color: #fff;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Footer section */

#footer {
  background-color: #000;
  text-align: center;
  padding-bottom: 30px;
}

.footer-paragraph {
  font-size: 13px;
  line-height: 2;
  color: #fff;
}

.footer-image {
  width: 20px;
  margin: 100px 5px 20px;
  color: #dd2476;
}